<div class="articleHeader">
    <h2>{{article.title}}</h2>
  <div class="articleImage">
    <img src="{{article.picture}}">
  </div>
</div>

<div class="articleBody">
  <h4><em>By: </em>{{article.author}}</h4>
  <p>{{article.content}}</p>
</div>
