body {
  background-color: #f2f2f2;
  font-family: 'Josefin Sans', sans-serif;
}

.nav {
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
}

.nav img {
  width: 25%;
  padding-top: 10px;
}

.navContents {
  display: none;
  background-color: #24DBDB;
  color: white;
  width: 20%;
  height: 1200px;
  position: fixed;
  padding-top: 10px;
}

.navContents a,
.navContents li {
  color: white;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  padding-top: 15px;
  text-align: center;
}

.navContents img {
  width: 20%;
  cursor: pointer;
}

.navContents .adminNav {
  padding-top: 60px;
}

.fa-bars {
  font-size: 24px;
  padding-top: 20px;
  cursor: pointer;
}

.icons i {
  padding: 10px;
  margin-top: 10px;
  color: #808080;
}

.fa-search {
  border-left: solid 1px #d9d9d9;
  padding-left: 2px;
  font-size: 20px;
}

.indexPost {
  width: 70%;
  margin-left: 15%;
  padding: 30px;
  margin-bottom: 120px;
  position: relative;
}

.indexIntro {
    background-color: white;
    width: 50%;
    height: 200px;
    position: absolute;
    margin-left: 22%;
    top: 320px;
    padding: 40px 60px 30px 60px;
    text-align: center;
    border-top: 6px solid  #00ffff;
    box-shadow: 3px 3px #d9d9d9;
}

.indexIntro h4 {
  line-height: 25px;
  font-weight: bolder;
}

.indexIntro p {
  position: absolute;
  bottom: 10px;
  padding-left: 27%;
}

.indexPost img {
  position: relative;
  object-fit: cover;
  height: 400px;
  width: 100%;
  z-index: -1;
}

/* individual article page */

.articleImage img {
  width: 50%;
  margin-left: 25%;
  height: 450px;
  object-fit: cover;
  position: relative;
  padding-top: 30px;
}

.articleHeader h2 {
  text-align: center;
  width: 45%;
  margin-left: 27%;
  background-color: rgb(80, 227, 194);
  position: absolute;
  z-index: 2;
}

.articleBody {
  width: 40%;
  margin-left: 30%;
  padding-top: 50px;
  font-size: 16px;
}

.articleBody p {
  padding-top: 50px;
}

footer {
  text-align: center;
}
